/**:before, *:after {
  box-sizing: border-box;
}

* {
  margin-left: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}*/
body {
  background-color: #D6EAF8;
}
nav ul li a {
  color: #EAEDED;
  text-decoration: none;
  font-family: PT sans;
  font-size: 20px;
}

ul {
  list-style: none;
}

.nav-row {
  display: flex;
  background-color: #7F8C8D;
  height:50px;
  justify-content: ;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 10px;
}

.main-header {
  text-align: center;
  padding-top: 10px;
  font-size: 36px;
  margin: 50px;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
}
#recipe-pic {
  background-image: url(../images/recipe-box.jpg);
  background-size: cover;
  width: 500px;
  height: 300px;
}

.summary1 {
  text-align: right;
}

#film-pic {
  background-image: url(../images/film-festival.jpg);
  background-size: cover;
  width: 500px;
  height: 400px;
}

#display-pic {
  background-image: url(../images/fetch-api.jpg);
  background-size: cover;
  width: 500px;
  height: 350px;
}
/*about me*/
.about-me {
  padding-top: 75px;

}

/*contact info*/
.contact-info {
  font-size: 20px;
  padding-top: 50px;
}
