*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin-left: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.nav-row {
  display: flex;
  background-color: #ffffff ;
  height:50px;
  justify-content: right;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;

}
